.cardContainer {
  width: 87.2%;
  max-height: 8rem;

  background-color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2rem 02rem 2rem;
  padding: 2rem;
  border: none;

  border-radius: 5px;
  
  .repoInfos {
    display: flex;

    flex-direction: row;

    div {
      margin: auto 0;
    }

    div > p:first-child {
      margin-bottom: 0.5rem;
      font-weight: bold;
      font-size: 24px;
      color: #3D3D4D;
    }

    div > p:last-child {
      font-size: 18px;
      color: #A8A8B3;
    }
  }

  a {
    border: none;
    background-color: inherit;
    padding: 1rem;
    cursor: pointer;
  }

  img:last-child {
    transform: rotate(180deg)
  }
}