.homeContent {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 7rem);

  align-items: center;

  section {
    margin-left: 2rem;
    margin-bottom: 5rem;
  }

  h1 {
    font-size: 48px;
    color: #3A3A3A;

    margin-top: 5rem;
  }
}

.inputSection {
  margin: 3rem 0 8rem 0;
  align-items: left;
  justify-content: left;
  display: flex;

  input[type="text"] {
    height: 4rem;
    padding: 1rem 1.5rem;
    font-size: 20px;

    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    width: 40rem;
  }

  input[type="text"]::placeholder {
    color: #A8A8B3;
    font-size: 18px;
  }

  button {
    height: 4rem;
    padding: 1rem 1.5rem;
    width: 10rem;

    background-color: #04D361;
    color: #FFFFFF;
    
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    font-size: 18px;

    transition: filter .2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}